.wrapper {
}
.header {
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 95;
  background-color: #fff;
}
.container {
  padding-top: 8px;
  padding-bottom: 49px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1504px;
  margin: 0 auto;
}
.item {
  width: 100%;
  padding: 0;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media screen and (min-width: 588px) {
  .container {
    max-width: calc(100% - 12px);
  }
  .item {
    width: 50%;
    padding: 0 6px;
  }
}

@media screen and (min-width: 874px) {
  .item {
    width: 33.33%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 56px;
    top: 56px;
    left: 240px;
    right: 16px;
  }
  .header.mini {
    left: 72px;
  }
  .container {
    max-width: calc(100% - 32px);
    padding-top: 24px;
    padding-bottom: 0;
  }
  .item {
    width: 25%;
    padding: 0 8px;
  }
}
