.withChipbar {
  margin-top: 48px;
}
.Grid {
  width: 100% !important;
  height: 100vh !important;
}
.Grid > div {
  width: 100% !important;
  /* height: 120% !important; */
  display: flex;
  flex-wrap: wrap;
}
.Cell {
  width: 33%;
  padding: 10px;
}
