.wrapper {
  height: 100%;
  padding: 0;
  position: relative;
  background-color: #f9f9f9;
}
.topbar {
  /*background-color: rgba(255, 255, 255, 0.98);*/
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  z-index: 999;
}

.sidebar {
  display: none;
}

.sidebar.hide {
}

.bottombar {
  /*height: 49px;*/
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /*background-color: rgba(255, 255, 255, 0.98);*/
  background-color: #ffffff;
  /* Safe area padding for iPhones with notches */
  padding-bottom: env(safe-area-inset-bottom, 0);
}

.container {
  width: 100%;
  height: 100%;
  padding-top: calc(28px + 30px);
  background-color: #f9f9f9;
  overflow-y: auto;
  --ion-background-color: #f9f9f9;
}
.container.virtuoso {
  overflow-y: hidden;
}
.container.mini {
}

.content {
  width: 100%;
}
.primary {
  width: 100%;
}
.player {
  width: 100%;
  height: 0;
  overflow: hidden;
}

.page {
  width: 100%;
}

.secondary {
  width: 0;
  height: 0;
  overflow: hidden;
}

.wrapper.type2 {
}
.type2 .topbar {
  z-index: 99;
  background-color: #212121;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 20%);
}
.type2 .container {
  padding-top: calc(56.25% + 48px);
  background-color: #fff;
}
.type2 .player {
  padding-top: 56.25%;
  position: fixed;
  top: 48px;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}
.type2 .secondary {
  width: 100%;
  height: auto;
  /* padding-top: 24px;
  width: 426px;
  margin-top: 0;
  border-top: none; */
}

.wrapper.type3 {
}
.type3 .container {
  padding-top: 48px;
  background-color: #fff;
  --ion-background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
  }
  .topbar {
    right: 16px;
    height: 56px;
  }
  .sidebar {
    display: block;
    width: 240px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 97;
    padding-top: calc(56px + 4px);
    padding-right: 4px;
    padding-bottom: 4px;
  }
  .sidebar.mini {
    width: 72px;
  }
  .bottombar {
    display: none;
  }
  .container {
    padding-left: 240px;
    /*padding-top: calc(56px + 56px - 4px);*/
    padding-top: calc(28px + 28px - 4px);
  }
  .container.mini {
    padding-left: 72px;
  }
  .content {
    padding-right: 4px;
  }

  .type2 .topbar {
    /*background-color: rgba(255, 255, 255, 0.98);*/
    background-color: #ffffff;
    box-shadow: none;
  }
  .type2 .sidebar {
    display: block;
    width: 0;
    height: 0;
  }
  .type2 .container {
    padding-left: 0;
    padding-top: calc(56px - 4px);
    background-color: #f9f9f9;
  }
  .type2 .content {
    max-width: 1754px;
    display: flex;
    flex-direction: row;
  }
  .type2 .primary {
    max-width: 1282px;
    padding-right: 24px;
    padding-top: 24px;
    margin-left: 24px;
    width: calc(100% - 426px);
  }
  .type2 .player {
    position: relative;
    /* top: 0; */
    /* position: absolute; */
    top: 0;
    left: 0;
    padding-top: 56.25%;
  }
  .type2 .secondary {
    padding-top: 24px;
    width: 426px;
    margin-top: 0;
    border-top: none;
  }

  .type3 .container {
    background-color: #f9f9f9;
    --ion-background-color: #f9f9f9;
  }
}

/* custom scrollbar */
@media screen and (min-width: 1024px) {
  /* firefox */
  .container {
    scrollbar-width: thin;
    scrollbar-color: #606060 transparent;
  }
  /* chrome */
  .container::-webkit-scrollbar {
    width: 8px;
  }
  .container::-webkit-scrollbar-track {
    box-shadow: none;
  }
  .container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #606060;
  }
}

/* class for hide */
.hide {
  display: none;
}
